@font-face {
  src: url("../fonts/Montserrat-Black.ttf");
  font-family: MBlack;
}

@font-face {
  src: url("../fonts/Montserrat-Bold.ttf");
  font-family: MBold;
}

@font-face {
  src: url("../fonts/Montserrat-Regular.ttf");
  font-family: MRegular;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.first {
	background-image: url(../img/background.png);
	width: 100%;
	height: 100vh;
	padding: 5% 10% 5%;  
}

.center {	
	background-image: url(../img/Group.png) ;
	background-size: 100% 100%;
	width: 100%;
	height: 80vh;
	position: static;
 }

.right {
	float: right;
	width: 94%;
	height: 100%;
}

.logo {
 	font-size: 24px;
 	float: left;
 	font-family: MBlack; 
 	line-height: 0.75;
 	position: relative;
 	left: 8%;
 	top: 8%;
 }

.navigation {
	padding-right: 40px; 
	float: right;
}

.navigation a {
	font-size: 14px;
	font-family: MRegular;
	color: #111;
	text-decoration: none;
	transition: all .2s ease-out;
}

.navigation li {
	display: inline-block;
	margin: 55px 20px;
}


.navigation a:hover {
	color: #fff;  
	background: #111; 
	padding: 8px 10px 8px;
	border-radius: 20px;
}

a.active {
	color: #fff;
}

.btn {
	padding: 10px 30px;
	background-color: #111;
	text-transform: uppercase;
	font-size: 10px;
	font-family: MRegular;
	color: #fff;
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
	border-radius: 20px;
	box-shadow: 0px 25px 60px 5px  #000000;
}

.btn:hover {
	padding: 10px 26px;
	background-color: #BBB;
	color: #111;
	font-family: MBlack; 
	border: 1px solid #111;
	transition: all .3s ease;
}

.left {
	float: left;
	width: 6%;
 	height: 100%;

 }

.leftText {
	margin-left: 30%;
	height: 70%;
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(90deg);
	writing-mode: tb-rl;
	text-transform: uppercase;
	font-family: MRegular;
}

.text {
	font-family: MBlack;
}

.leftCase {
	margin-left: 25%;
	height: 19%;
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.leftCase img {
	height: 16%;
 	position: relative;
	bottom: 0;
	cursor: pointer;
 }

@media (max-width: 1024px ) {
.navigation li {
	padding: 30px 10px;
	margin: 0;  }

.navigation a {
	font-size: 12px; }

.logo {
 	font-size: 20px;
 	left: 8%;
 	top: 5%; }

.leftText {
	margin-left: 25%; }
}

/*@media (max-width: 768px ) {
.navigation {
	padding-right: 20px; }

.navigation li {
	padding: 30px 5px;
	margin: 0;  }

.navigation a {
	font-size: 12px; }

.logo {
 	font-size: 18px;
 	position: relative;
 	left: 8%;
 	top: 6%; }

.leftCase img {
	height: 16%;
	width: 150%; }
 }*/

@media (max-width: 768px ) {
.first {
	height: 100vh; }

.center {	
	height: 60vh; }

.navigation {
	padding-right: 10px; }

.navigation li {
	padding: 15px 5px;
	margin: 0;  }

.navigation a {
	font-size: 10px; }

.btn {
	position: absolute;
	top: 55%;
	left: 50%; }	

.logo {
 	font-size: 16px;
 	position: relative;
 	left: 6%;
 	top: 5%; }

.leftCase img {
	height: 14%;
	width: 150%; }

.leftText {
	margin-left: 20%;
	font-size: 12px; }
 }

@media (max-width: 560px ) {
.first {
	height: 100vh; }

.center {	
	height: 30vh; }

.navigation {
	padding-right: 5px; }

.navigation li {
	padding: 5px 3px;
	margin: 0; }

.navigation a {
	font-size: 6px; }

.btn {
	padding: 6px 18px;
	font-size: 6px;
	position: absolute;
	top: 30%;
	left: 50%; }	

.btn:hover {
	padding: 6px 15px; }

.logo {
 	font-size: 12px;
 	position: relative;
 	top: 5%; }

.leftCase img {
	height: 19%;
	width: 150%; }

.leftText {
	margin-left: 25%;
	font-size: 6px; }
 }

@media (max-height: 870px ) {
.navigation li {
	padding: 10px 3px;
	margin: 0; }

.leftText {
	height: 80%;
	margin-left: 30%; }

.leftCase {
	height: 12%; }

.leftCase img {
	height: 30%;
	width: 100%; }
 }

@media (max-height: 520px ) {
.leftText {
	font-size: 9px; }
}

@media (max-height: 390px ) {
.leftText {
	font-size: 7px; }
}